.buttons{
   display: flex;
   justify-content: space-evenly;
}

.addnew{
   margin-top: 20px;
   margin-bottom: 70px;
}

i{
   margin-left: 10px;
}
/* 
.google-verify-btn{
   padding: 5px;
   margin: 5px;
   z-index: 2;
} */